main {
  max-width: 60vw;
  margin: 0 auto;
  text-align: center;
  transform: rotate(-2deg);

  .links {
    .spin {
      display: inline-block;
      animation: spin 2s linear infinite;
    }
  }

  .printers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    .status-info {
      margin-top: 10px;
    }

    .status {
      font-weight: bold;
    }

    .info {
      font-size: 0.9em;
      color: #555;
    }

    .img {
      height: auto;
      padding: 1rem;
      text-align: center;

      &.ls {
        width: 20vw;
      }
      &.wf {
        width: 33vw;
      }

      img {
        width: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }

    /* Current Monitor Styles */
  }

  #current-monitor-container {
    padding: 1rem;
    background-color: #f9f9f9;
  }

  #current-monitor-container p {
    font-size: 1.2em;
    margin: 0.5em 0;
  }

  @media (max-width: 68em) {
    & {
      max-width: 90vw;
      transform: rotate(0deg);
      .printers {
        grid-template-columns: 1fr;
        .img {
          &.ls,
          &.wf {
            width: 100%;
          }
        }
      }
    }
  }
}
